mixin publication(authors, title, journal, year, edition)
  li  
    p!= authors + ". \"" + title + ",\"" + " <strong><em>" + journal + "</em></strong>, " + year + ", " + edition + "."
        
link(rel="stylesheet" href="/css/papers.css")    
- publications = public.papers._data.index.publications  

.container
  .col-xs-8.col-xs-offset-2
    h3 Publications
  
    include:markdown publications.md
    
    //- ol(reversed).papers
    //-   for pub in publications
    //-     +publication(pub.authors, pub.title, pub.journal, pub.year, pub.edition)
