link(rel="stylesheet" href="/css/research.css")

.container
  .col-xs-12.col-sm-7.content
    include:markdown ./research.md
  
  .hidden-xs.col-sm-5
    .overview-toc
      h3 Contents
      
      h4
        a(href="#overview") Introduction 
      h4
        a(href="#thrust1") Thrust 1
      h4
        a(href="#thrust2") Thrust 2
      h4
        a(href="#thrust3") Thrust 3
      h4
        a(href="#thrust4") Thrust 4
      h4
        a(href="#thrust5") Thrust 5
      h4
        a(href="#thrust6") Thrust 6
