h4(class="page-header frontpage-h1") ABOUT THE INITIATIVE
p.
  The goal of our multidisciplinary university research initiative (MURI) is 
  to combine biological elements (ribosomes, DNA, RNA, and proteins) with 
  synthetic materials in order to create hybrid artificial “cells” capable 
  of mimicking the form and function of natural cells but with improved 
  control, stability, and simplicity.
  
p. 
  MURI is a result of a collaboration between UC San Diego, Harvard, and University of Colorado, Boulder.

a(class="btn btn-sm btn-primary btn-block index-button" href="/joining/" role="button").
  Want to be part of MURI?
