- publications = public.papers._data.index.publications 

h4(class="page-header frontpage-h1") FUNDING 

p Our group gratefully acknowledges the following funding sources:
p DOD (ARO) - MURI Award

for image in public.funding._contents
  img(src="/funding/#{ image }" class="img-responsive")
