.devaraj-footer
  .container
  
    hr  
    
    .col-sm-4.col-xs-12
      h6 AFFLIATIONS
      hr
      a(href="http://ucsd.edu/")
        img(src="/affiliations/ucsd.jpg" class="img-rounded center-pic footer-emblem")
      a(href="http://harvard.edu/")
        img(src="/affiliations/harvard.jpg" class="img-rounded center-pic footer-emblem")
      a(href="http://colorado.edu/")
        img(src="/affiliations/boulder.jpg" class="img-rounded center-pic footer-emblem")
      
    
    .col-sm-4.col-xs-12
      h6 SITE MAINTAINED BY
      hr
      p: a(href="https://github.com/jezhou").
        Jesse Zhou, UCSD 2017
      p: a(href="mailto:jez017@ucsd.edu"). 
        jez017@ucsd.edu
    
    .col-sm-4.col-xs-12
      h6 CONTACT THE LAB
      hr
      p (858) 534-9582
      p: a(href="ndevaraj@ucsd.edu").
        ndevaraj@ucsd.edu
    
    
